@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(68.15deg, #2f2325 16.62%, #8e5d52);
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
}

.bar {
    padding-left: 20px;
    padding-right: 20px;
}